langchain-community
langchain-core
tiktoken
langchain-groq
langchainhub
langchain
langgraph
langchain-huggingface
pinecone-client
pinecone
googlemaps
langchain-pinecone
pydantic
requests
beautifulsoup4
python-dotenv
openai
langchain-openai
amadeus
bs4
googlemaps